@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Titillium+Web:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Titillium Web";
}

.card {
  box-shadow: 4px 4px black;
  text-transform: capitalize;
}

.dark .normalcard {
  box-shadow: 4px 4px rgb(255, 222, 180);
}

.easy {
  box-shadow: 4px 4px rgb(169, 242, 24);
}

.easy:hover {
  box-shadow: none;
  /* background-color: black; */
  box-shadow: 0px 0px 5px rgb(169, 242, 24);
}

.medium {
  box-shadow: 4px 4px rgb(255, 186, 58);
}
.medium:hover {
  box-shadow: 0px 0px 5px rgb(255, 186, 58);
  border-color: transparent;
}

.hard {
  box-shadow: 4px 4px rgb(255, 109, 109);
}
.hard:hover {
  box-shadow: 0px 0px 5px rgb(255, 109, 109);
  border-color: transparent;
}

.easy-done {
  background: rgb(169, 242, 24);
  box-shadow: none;
  border: transparent;
}
.medium-done {
  background: rgb(255, 186, 58);
  box-shadow: none;
  border: transparent;
}
.hard-done {
  background: rgb(255, 109, 109);
  box-shadow: none;
  border: transparent;
}
.easy-nohover {
  box-shadow: 4px 4px rgb(169, 242, 24);
}
.medium-nohover {
  box-shadow: 4px 4px rgb(255, 186, 58);
}
.hard-nohover {
  box-shadow: 4px 4px rgb(255, 109, 109);
}
